<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>README</key>
    <string>Download the real GoogleService-Info.plist from Firebase after registering the iOS app with bundle ID com.drevos.smoker. Do not rename this example file; place the real file beside it.</string>
</dict>
</plist>
